body{
  background-color: rgb(92, 155, 134);
}
form{

  height: 80vh;
  width: 80vh;
}
h1{
  margin-left:40%;
  font-weight: 5;
  font-size: 30px;
  color: pink;
}
h2{
  margin-left: 30%;
  font-size: 20px;
  font-weight: 2;
}
input{
  border:dotted;
  color: purple;
  width: 50%;
  margin-left:130px;
}
button{
margin-left: 5px;
color: purple;
}
.apagar{
  margin-left: 40%;
  margin-top:5px;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
}